# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/.sass-cache/
frontend/coverage/
frontend/connect.lock
frontend/testem.log
frontend/typings/

# Backend
backend/__pycache__/
backend/*.py[oc]
backend/.venv
backend/build/
backend/dist/
backend/wheels/
backend/*.egg-info

# Environment (contiene contraseñas y secretos)
backend/.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
